.webstudio_header {
  color: #2196f3;
}
.webstudio_header span {
  color: #212121;
}

.navigation {
  color: #212121;
}

.contacts {
  color: #757575;
}

.section_1 {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.advantage {
  color: #212121;
}

.advantage_description {
  color: #757575;
}

.description {
  color: #212121;
}

.services {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  color: #212121;
}

.position {
  color: #757575;
}

.clients {
  color: #212121;
}

footer {
  background: #2f303a;
}

.webstudio_footer {
  color: #2196f3;
}

.webstudio_footer span {
  color: #ffffff;
}

.address {
  color: #ffffff;
}

.join {
  color: #ffffff;
}

.portfolio_info {
  color: #212121;
  background: #f5f4fa;
}

.portfolio {
  color: #212121;
}

.portfolio_description {
  color: #757575;
}
